.homepage-main-container {
  width: 100%;
}

.productlisting-main-content-container {
  margin: 1.5rem 1.5rem 3rem;
}

.productlisting-products-container {
  width: 75%;
  margin: 1rem 1.5rem 6rem;
}
