.cart-page-container {
  width: 100%;
}

.cart-page-title {
  text-align: center;
  margin: 4rem 0 5rem;
}

.cart-products-container {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.cart-content-container {
  margin: 1.5rem 1.5rem 3rem;
}

.cart_products_container {
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
