.card-custom-width {
  width: 18rem;
}

.custom-btn {
  background-color: var(--plant-pri-clr);
  width: 100%;
}

.pri-clr {
  color: var(--text-sec-dark);
}

.sec-clr {
  color: var(--text-secondary);
}

.staricon-style {
  font-size: 0.8rem;
  color: var(--dark-primary-clr);
}

.card-title {
  margin: 4px 0;
  letter-spacing: 0.025rem;
}

.card-subtitle {
  letter-spacing: 0.025rem;
  font-weight: 500;
  font-size: 0.84rem;
}

.product-price {
  margin: 1rem 0;
  letter-spacing: 0.025rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.p-small {
  padding: 0.5rem;
}

.card-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
}

.justify-content-between {
  justify-content: space-between;
}

.badge-custom-bg {
  background-color: var(--gray-shade4);
}
